<div class="row">
  <div class="col-5">
    <img src="https://images4.alphacoders.com/964/thumb-1920-964018.jpg" alt="" class="img-header">
  </div>
  <div class="col-7">
    <img src="../assets/img/640px-Rick_and_Morty.svg.png" class="img-name">
  </div>


</div>

<div class="container">
  <div class="botones">
    <!--  <h2 class="container">{{paginaActual}}/{{numPaginas}}</h2> -->
    <button type="button" class="btn btn-outline-success" (click)="onClick(false)"
      [disabled]="paginaActual === 1">Atrás</button>
    <button type="button" class="btn btn-outline-success" (click)="onClick(true)"
      [disabled]="paginaActual === numPaginas">Siguiente</button>
  </div>
</div>

<!-- <div class="container">
  <div class="personajes">
    <div class="personaje" *ngFor="let personaje of personajes"
      [ngClass]="{ vivo: (personaje.status === 'Alive' ), muerto: (personaje.status === 'Dead')}">
      <h3>{{personaje.name}}</h3>
      <img [src]=" personaje.image">
      <p>Species: {{personaje.species}}</p>
      <p>Gender: {{personaje.gender}}</p>
      <p>Origin: {{personaje.origin.name}}</p>
      <p>Location: {{persona.location.name}}</p>
    </div>
  </div>
</div> -->
<div class="container">
  <div class="row mb-3 justify-content-center">
    <div class="card col-md-5 col-5" style="max-width: 400px;" *ngFor="let personaje of personajes">
      <div class="row g-0">
        <div class="col-md-6">
          <img [src]="personaje.image">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">{{personaje.name}}</h5>
            <div class="card-text">
              <p class="card-text">Species: {{personaje.species}}</p>
              <p class="card-text">Origin: {{personaje.origin.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="botones">
    <button type="button" class="btn btn-outline-success" (click)="onClick(false)"
      [disabled]="paginaActual === 1">Atrás</button>
    <button type="button" class="btn btn-outline-success" (click)="onClick(true)"
      [disabled]="paginaActual === numPaginas">Siguiente</button>
  </div>
</div>